<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,240},{14,75}}</string>
                <key>offset</key>
                <string>{-22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,29},{14,75}}</string>
                <key>sourceSize</key>
                <string>{62,125}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{62,83}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{62,83}}</string>
                <key>sourceSize</key>
                <string>{62,125}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{60,111}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{60,111}}</string>
                <key>sourceSize</key>
                <string>{62,125}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,119}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,119}}</string>
                <key>sourceSize</key>
                <string>{62,125}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,109},{56,87}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{56,87}}</string>
                <key>sourceSize</key>
                <string>{62,125}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{50,105}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{50,105}}</string>
                <key>sourceSize</key>
                <string>{62,125}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,198},{40,73}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,27},{40,73}}</string>
                <key>sourceSize</key>
                <string>{62,125}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,236},{16,33}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,32},{16,33}}</string>
                <key>sourceSize</key>
                <string>{62,125}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{16,33}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,20},{16,33}}</string>
                <key>sourceSize</key>
                <string>{62,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100081h.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6842afa257670df75b974cc58b731695$</string>
            <key>textureFileName</key>
            <string>100081h.png</string>
        </dict>
    </dict>
</plist>
