<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1050-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,91}</string>
                <key>spriteSourceSize</key>
                <string>{130,91}</string>
                <key>textureRect</key>
                <string>{{0,0},{130,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1050-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,146}</string>
                <key>spriteSourceSize</key>
                <string>{130,146}</string>
                <key>textureRect</key>
                <string>{{0,566},{130,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1050-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,141}</string>
                <key>spriteSourceSize</key>
                <string>{130,141}</string>
                <key>textureRect</key>
                <string>{{130,566},{130,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1050-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,137}</string>
                <key>spriteSourceSize</key>
                <string>{130,137}</string>
                <key>textureRect</key>
                <string>{{260,566},{130,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1050-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,101}</string>
                <key>spriteSourceSize</key>
                <string>{130,101}</string>
                <key>textureRect</key>
                <string>{{0,712},{130,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1050-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,209}</string>
                <key>spriteSourceSize</key>
                <string>{130,209}</string>
                <key>textureRect</key>
                <string>{{130,0},{130,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1050-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,199}</string>
                <key>spriteSourceSize</key>
                <string>{130,199}</string>
                <key>textureRect</key>
                <string>{{260,0},{130,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1050-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,181}</string>
                <key>spriteSourceSize</key>
                <string>{130,181}</string>
                <key>textureRect</key>
                <string>{{0,209},{130,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1050-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,186}</string>
                <key>spriteSourceSize</key>
                <string>{130,186}</string>
                <key>textureRect</key>
                <string>{{130,209},{130,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1050-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,176}</string>
                <key>spriteSourceSize</key>
                <string>{130,176}</string>
                <key>textureRect</key>
                <string>{{260,209},{130,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1050-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,171}</string>
                <key>spriteSourceSize</key>
                <string>{130,171}</string>
                <key>textureRect</key>
                <string>{{0,395},{130,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1050-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,169}</string>
                <key>spriteSourceSize</key>
                <string>{130,169}</string>
                <key>textureRect</key>
                <string>{{130,395},{130,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1050-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,145}</string>
                <key>spriteSourceSize</key>
                <string>{130,145}</string>
                <key>textureRect</key>
                <string>{{260,395},{130,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>100011h.png</string>
            <key>size</key>
            <string>{390,813}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d630dc2af8b84d70924c65a1f6aef8c5:8fe891a349febc55d75fca0e902cf2e3:8b200096923bbf01be3e76f4d56c7c3c$</string>
            <key>textureFileName</key>
            <string>100011h.png</string>
        </dict>
    </dict>
</plist>
