<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,172}</string>
                <key>spriteSourceSize</key>
                <string>{168,172}</string>
                <key>textureRect</key>
                <string>{{0,0},{168,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,172}</string>
                <key>spriteSourceSize</key>
                <string>{168,172}</string>
                <key>textureRect</key>
                <string>{{168,0},{168,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,172}</string>
                <key>spriteSourceSize</key>
                <string>{168,172}</string>
                <key>textureRect</key>
                <string>{{336,0},{168,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,172}</string>
                <key>spriteSourceSize</key>
                <string>{168,172}</string>
                <key>textureRect</key>
                <string>{{504,0},{168,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,172}</string>
                <key>spriteSourceSize</key>
                <string>{168,172}</string>
                <key>textureRect</key>
                <string>{{672,0},{168,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,172}</string>
                <key>spriteSourceSize</key>
                <string>{168,172}</string>
                <key>textureRect</key>
                <string>{{840,0},{168,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>100061h.png</string>
            <key>size</key>
            <string>{1008,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95f4a34b1c9606d22363609b09caeeb8:9d4b2da12806a1072f0078240147b1c7:2a3d40b7328723e58781275ddb9f8b1c$</string>
            <key>textureFileName</key>
            <string>100061h.png</string>
        </dict>
    </dict>
</plist>
