<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,500}</string>
                <key>spriteSourceSize</key>
                <string>{176,500}</string>
                <key>textureRect</key>
                <string>{{0,500},{176,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,500}</string>
                <key>spriteSourceSize</key>
                <string>{176,500}</string>
                <key>textureRect</key>
                <string>{{176,500},{176,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,500}</string>
                <key>spriteSourceSize</key>
                <string>{176,500}</string>
                <key>textureRect</key>
                <string>{{352,500},{176,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,500}</string>
                <key>spriteSourceSize</key>
                <string>{176,500}</string>
                <key>textureRect</key>
                <string>{{528,500},{176,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,500}</string>
                <key>spriteSourceSize</key>
                <string>{176,500}</string>
                <key>textureRect</key>
                <string>{{704,500},{176,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,500}</string>
                <key>spriteSourceSize</key>
                <string>{176,500}</string>
                <key>textureRect</key>
                <string>{{0,1000},{176,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,500}</string>
                <key>spriteSourceSize</key>
                <string>{176,500}</string>
                <key>textureRect</key>
                <string>{{176,1000},{176,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,500}</string>
                <key>spriteSourceSize</key>
                <string>{176,500}</string>
                <key>textureRect</key>
                <string>{{352,1000},{176,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,500}</string>
                <key>spriteSourceSize</key>
                <string>{176,500}</string>
                <key>textureRect</key>
                <string>{{528,1000},{176,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,500}</string>
                <key>spriteSourceSize</key>
                <string>{176,500}</string>
                <key>textureRect</key>
                <string>{{0,0},{176,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,500}</string>
                <key>spriteSourceSize</key>
                <string>{176,500}</string>
                <key>textureRect</key>
                <string>{{176,0},{176,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,500}</string>
                <key>spriteSourceSize</key>
                <string>{176,500}</string>
                <key>textureRect</key>
                <string>{{352,0},{176,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,500}</string>
                <key>spriteSourceSize</key>
                <string>{176,500}</string>
                <key>textureRect</key>
                <string>{{528,0},{176,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,500}</string>
                <key>spriteSourceSize</key>
                <string>{176,500}</string>
                <key>textureRect</key>
                <string>{{704,0},{176,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>100192h.png</string>
            <key>size</key>
            <string>{880,1500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:552930ed8b46ebeea55456d5cc2f0a5e:b9cf512c59e792d3731780274582981c:9b5e746d24b37a0ede70f4478b612b71$</string>
            <key>textureFileName</key>
            <string>100192h.png</string>
        </dict>
    </dict>
</plist>
