<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{70,0},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,227}</string>
                <key>spriteSourceSize</key>
                <string>{220,227}</string>
                <key>textureRect</key>
                <string>{{0,661},{220,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,227}</string>
                <key>spriteSourceSize</key>
                <string>{220,227}</string>
                <key>textureRect</key>
                <string>{{0,888},{220,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,227}</string>
                <key>spriteSourceSize</key>
                <string>{220,227}</string>
                <key>textureRect</key>
                <string>{{0,1115},{220,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,227}</string>
                <key>spriteSourceSize</key>
                <string>{220,227}</string>
                <key>textureRect</key>
                <string>{{0,1342},{220,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{140,0},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{0,69},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{70,69},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{140,69},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{0,138},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{70,138},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,227}</string>
                <key>spriteSourceSize</key>
                <string>{220,227}</string>
                <key>textureRect</key>
                <string>{{0,207},{220,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,227}</string>
                <key>spriteSourceSize</key>
                <string>{220,227}</string>
                <key>textureRect</key>
                <string>{{0,434},{220,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>100111h.png</string>
            <key>size</key>
            <string>{220,1569}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfc0660ea30c41541548ea5ae8b5c74f:595025741af0fc72ac68162e6b887b1b:34f158b5cbaa23b393a27c3cc49a4eab$</string>
            <key>textureFileName</key>
            <string>100111h.png</string>
        </dict>
    </dict>
</plist>
