<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1046-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,122}</string>
                <key>spriteSourceSize</key>
                <string>{103,122}</string>
                <key>textureRect</key>
                <string>{{0,0},{103,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1046-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,126}</string>
                <key>spriteSourceSize</key>
                <string>{101,126}</string>
                <key>textureRect</key>
                <string>{{0,122},{101,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1046-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,129}</string>
                <key>spriteSourceSize</key>
                <string>{101,129}</string>
                <key>textureRect</key>
                <string>{{0,248},{101,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1046-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,128}</string>
                <key>spriteSourceSize</key>
                <string>{102,128}</string>
                <key>textureRect</key>
                <string>{{0,377},{102,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>100601h.png</string>
            <key>size</key>
            <string>{103,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c125409a7709dd829f68c9d17de9b66d:0d713ef0f79aedf43e4d7290ddd98cbb:0fc0ef28205ccc29f8d4bfc2c97ae29c$</string>
            <key>textureFileName</key>
            <string>100601h.png</string>
        </dict>
    </dict>
</plist>
