<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SkillDragSinger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,100}</string>
                <key>spriteSourceSize</key>
                <string>{196,100}</string>
                <key>textureRect</key>
                <string>{{293,0},{196,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillDragArrow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,53}</string>
                <key>spriteSourceSize</key>
                <string>{107,53}</string>
                <key>textureRect</key>
                <string>{{186,0},{107,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillDragFull.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,198}</string>
                <key>spriteSourceSize</key>
                <string>{289,198}</string>
                <key>textureRect</key>
                <string>{{160,100},{289,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillDragHitRange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,477}</string>
                <key>spriteSourceSize</key>
                <string>{477,477}</string>
                <key>textureRect</key>
                <string>{{0,298},{477,477}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillDragRange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,163}</string>
                <key>spriteSourceSize</key>
                <string>{160,163}</string>
                <key>textureRect</key>
                <string>{{0,100},{160,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillDragRect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,45}</string>
                <key>spriteSourceSize</key>
                <string>{186,45}</string>
                <key>textureRect</key>
                <string>{{0,0},{186,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skillDrag.png</string>
            <key>size</key>
            <string>{489,775}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c97916169d9b484edcfa60ce9e402e2:f5109f609b1d4731034eb88743277682:738b5067e1700ea83d55c5bebcdaccc6$</string>
            <key>textureFileName</key>
            <string>skillDrag.png</string>
        </dict>
    </dict>
</plist>
