<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gutou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{62,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gutou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{32,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{32,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gutou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{62,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gutou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{32,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{32,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gutou5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{62,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gutou6.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{32,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{32,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100031b.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be66dfa93fc5d1339b0700357317517a$</string>
            <key>textureFileName</key>
            <string>100031b.png</string>
        </dict>
    </dict>
</plist>
