<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,40}</string>
                <key>spriteSourceSize</key>
                <string>{91,40}</string>
                <key>textureRect</key>
                <string>{{0,0},{91,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,40}</string>
                <key>spriteSourceSize</key>
                <string>{91,40}</string>
                <key>textureRect</key>
                <string>{{91,0},{91,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,40}</string>
                <key>spriteSourceSize</key>
                <string>{91,40}</string>
                <key>textureRect</key>
                <string>{{0,40},{91,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,40}</string>
                <key>spriteSourceSize</key>
                <string>{91,40}</string>
                <key>textureRect</key>
                <string>{{91,40},{91,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,40}</string>
                <key>spriteSourceSize</key>
                <string>{91,40}</string>
                <key>textureRect</key>
                <string>{{0,80},{91,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,40}</string>
                <key>spriteSourceSize</key>
                <string>{91,40}</string>
                <key>textureRect</key>
                <string>{{91,80},{91,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>100151b.png</string>
            <key>size</key>
            <string>{182,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65dbb130ec0de37a4b80f9bb42916182:24265d395c0d6703175df455e6cc03ee:d87aaa65e8fe403411a32acd639527f5$</string>
            <key>textureFileName</key>
            <string>100151b.png</string>
        </dict>
    </dict>
</plist>
