<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,99}</string>
                <key>spriteSourceSize</key>
                <string>{191,99}</string>
                <key>textureRect</key>
                <string>{{0,0},{191,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,153}</string>
                <key>spriteSourceSize</key>
                <string>{208,153}</string>
                <key>textureRect</key>
                <string>{{0,99},{208,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,149}</string>
                <key>spriteSourceSize</key>
                <string>{197,149}</string>
                <key>textureRect</key>
                <string>{{0,252},{197,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{0,401},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,128}</string>
                <key>spriteSourceSize</key>
                <string>{185,128}</string>
                <key>textureRect</key>
                <string>{{0,541},{185,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,140}</string>
                <key>spriteSourceSize</key>
                <string>{190,140}</string>
                <key>textureRect</key>
                <string>{{0,669},{190,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>100152b.png</string>
            <key>size</key>
            <string>{208,809}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20bb9aeb65ae1abecd6191d1345bcedb:4505396c695ede361d2df44c4dc2e9e3:1d3f8faa3c24d3259bca013f8c654ae6$</string>
            <key>textureFileName</key>
            <string>100152b.png</string>
        </dict>
    </dict>
</plist>
