<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unity3D手游动作游戏源代码-手游动作游戏源代码，使用N_爱给网_aigei_com.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,20}</string>
                <key>spriteSourceSize</key>
                <string>{79,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{79,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>110004b.png</string>
            <key>size</key>
            <string>{79,20}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11871626d1c62269859b41cd010dd2c6:3926b2e87bf046a71f2b1246b84c18fd:00ff6dcf164561dbcad39ae027e4d42a$</string>
            <key>textureFileName</key>
            <string>110004b.png</string>
        </dict>
    </dict>
</plist>
