<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vertigo_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,140}</string>
                <key>spriteSourceSize</key>
                <string>{96,140}</string>
                <key>textureRect</key>
                <string>{{0,0},{96,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vertigo_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,140}</string>
                <key>spriteSourceSize</key>
                <string>{96,140}</string>
                <key>textureRect</key>
                <string>{{0,1260},{96,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vertigo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,140}</string>
                <key>spriteSourceSize</key>
                <string>{96,140}</string>
                <key>textureRect</key>
                <string>{{0,140},{96,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vertigo_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,140}</string>
                <key>spriteSourceSize</key>
                <string>{96,140}</string>
                <key>textureRect</key>
                <string>{{0,280},{96,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vertigo_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,140}</string>
                <key>spriteSourceSize</key>
                <string>{96,140}</string>
                <key>textureRect</key>
                <string>{{0,420},{96,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vertigo_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,140}</string>
                <key>spriteSourceSize</key>
                <string>{96,140}</string>
                <key>textureRect</key>
                <string>{{0,560},{96,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vertigo_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,140}</string>
                <key>spriteSourceSize</key>
                <string>{96,140}</string>
                <key>textureRect</key>
                <string>{{0,700},{96,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vertigo_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,140}</string>
                <key>spriteSourceSize</key>
                <string>{96,140}</string>
                <key>textureRect</key>
                <string>{{0,840},{96,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vertigo_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,140}</string>
                <key>spriteSourceSize</key>
                <string>{96,140}</string>
                <key>textureRect</key>
                <string>{{0,980},{96,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vertigo_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,140}</string>
                <key>spriteSourceSize</key>
                <string>{96,140}</string>
                <key>textureRect</key>
                <string>{{0,1120},{96,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>30001bf.png</string>
            <key>size</key>
            <string>{96,1400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22d53b9d21a8c76f3ff8586543725183:b11ee340146a10dc75a40c7cd6e93ebd:4fe5f2bdedebb732d9845a2d94dd62f0$</string>
            <key>textureFileName</key>
            <string>30001bf.png</string>
        </dict>
    </dict>
</plist>
