<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>蜡笔小新相关角色序列帧动画-防御-01_爱给网_aigei_com.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,64}</string>
                <key>spriteSourceSize</key>
                <string>{55,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>蜡笔小新相关角色序列帧动画-防御-02_爱给网_aigei_com.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,64}</string>
                <key>spriteSourceSize</key>
                <string>{55,64}</string>
                <key>textureRect</key>
                <string>{{55,0},{55,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>蜡笔小新相关角色序列帧动画-防御-04_爱给网_aigei_com.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,64}</string>
                <key>spriteSourceSize</key>
                <string>{55,64}</string>
                <key>textureRect</key>
                <string>{{110,0},{55,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>30009bf.png</string>
            <key>size</key>
            <string>{165,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a13598f68c36176b6179fd8206b80eb:d8da4d13116ba803e7a08628458fc91d:6654679d175ea8e8bb72898016e8217c$</string>
            <key>textureFileName</key>
            <string>30009bf.png</string>
        </dict>
    </dict>
</plist>
