<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,93}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,93}</string>
                <key>textureRect</key>
                <string>{{100,0},{100,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,93}</string>
                <key>textureRect</key>
                <string>{{200,0},{100,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,93}</string>
                <key>textureRect</key>
                <string>{{300,0},{100,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,93}</string>
                <key>textureRect</key>
                <string>{{400,0},{100,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,93}</string>
                <key>textureRect</key>
                <string>{{500,0},{100,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,93}</string>
                <key>textureRect</key>
                <string>{{600,0},{100,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,93}</string>
                <key>textureRect</key>
                <string>{{700,0},{100,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>30051bf.png</string>
            <key>size</key>
            <string>{800,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db6260a5eca3412e7bc8d902c1f5f6bc:ea69e957d8ca008e303f70ad9d9e6154:32804865f905bf5cc155734b2535f878$</string>
            <key>textureFileName</key>
            <string>30051bf.png</string>
        </dict>
    </dict>
</plist>
