<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{980,0},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{140,0},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{280,0},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{420,0},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{560,0},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{700,0},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{140,200}</string>
                <key>textureRect</key>
                <string>{{840,0},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>30055bf.png</string>
            <key>size</key>
            <string>{1120,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fdc18005b708bef364b607c897c1b74:6d70978720484dfe9b4890934b0de589:832c3f6d1d40074669c12d3605671d24$</string>
            <key>textureFileName</key>
            <string>30055bf.png</string>
        </dict>
    </dict>
</plist>
