<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood_unlock_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{116,150}</string>
                <key>textureRect</key>
                <string>{{0,0},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_unlock_4_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{116,150}</string>
                <key>textureRect</key>
                <string>{{1044,0},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_unlock_4_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{116,150}</string>
                <key>textureRect</key>
                <string>{{1160,0},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_unlock_4_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{116,150}</string>
                <key>textureRect</key>
                <string>{{1276,0},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_unlock_4_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{116,150}</string>
                <key>textureRect</key>
                <string>{{1392,0},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_unlock_4_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{116,150}</string>
                <key>textureRect</key>
                <string>{{1508,0},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_unlock_4_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{116,150}</string>
                <key>textureRect</key>
                <string>{{1624,0},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_unlock_4_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{116,150}</string>
                <key>textureRect</key>
                <string>{{1740,0},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_unlock_4_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{116,150}</string>
                <key>textureRect</key>
                <string>{{1856,0},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_unlock_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{116,150}</string>
                <key>textureRect</key>
                <string>{{116,0},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_unlock_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{116,150}</string>
                <key>textureRect</key>
                <string>{{232,0},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_unlock_4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{116,150}</string>
                <key>textureRect</key>
                <string>{{348,0},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_unlock_4_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{116,150}</string>
                <key>textureRect</key>
                <string>{{464,0},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_unlock_4_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{116,150}</string>
                <key>textureRect</key>
                <string>{{580,0},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_unlock_4_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{116,150}</string>
                <key>textureRect</key>
                <string>{{696,0},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_unlock_4_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{116,150}</string>
                <key>textureRect</key>
                <string>{{812,0},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_unlock_4_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{116,150}</string>
                <key>textureRect</key>
                <string>{{928,0},{116,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>31023bf.png</string>
            <key>size</key>
            <string>{1972,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27ac4760216a3db042908f4da45a5999:85a3e53063e1ff94963563e5e555ffaa:957256d021d899be2f2426369018c308$</string>
            <key>textureFileName</key>
            <string>31023bf.png</string>
        </dict>
    </dict>
</plist>
