<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,136}</string>
                <key>spriteSourceSize</key>
                <string>{100,136}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,136}</string>
                <key>spriteSourceSize</key>
                <string>{100,136}</string>
                <key>textureRect</key>
                <string>{{0,136},{100,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,136}</string>
                <key>spriteSourceSize</key>
                <string>{100,136}</string>
                <key>textureRect</key>
                <string>{{0,272},{100,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,136}</string>
                <key>spriteSourceSize</key>
                <string>{100,136}</string>
                <key>textureRect</key>
                <string>{{0,408},{100,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,136}</string>
                <key>spriteSourceSize</key>
                <string>{100,136}</string>
                <key>textureRect</key>
                <string>{{0,544},{100,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,136}</string>
                <key>spriteSourceSize</key>
                <string>{100,136}</string>
                <key>textureRect</key>
                <string>{{0,680},{100,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>31106bf.png</string>
            <key>size</key>
            <string>{100,816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b9ba2df5108200c053db64311f846d4:c18e04707617a6f01ad0a1b846fdaf35:6366ff0d74066078f3f40f6774b68c0d$</string>
            <key>textureFileName</key>
            <string>31106bf.png</string>
        </dict>
    </dict>
</plist>
