<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attBuff_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,0},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attBuff_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,1395},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attBuff_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,1550},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attBuff_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,1705},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attBuff_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,1860},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attBuff_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,155},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attBuff_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,310},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attBuff_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,465},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attBuff_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,620},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attBuff_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,775},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attBuff_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,930},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attBuff_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,1085},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attBuff_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,155}</string>
                <key>spriteSourceSize</key>
                <string>{111,155}</string>
                <key>textureRect</key>
                <string>{{0,1240},{111,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>31112bf.png</string>
            <key>size</key>
            <string>{111,2015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c3336ac912372a48c56e170cc6d982b:2dba0bd1558bff5558c1107cabbd6ab8:484fea3b34c9035e8c42c3a5f187c9dc$</string>
            <key>textureFileName</key>
            <string>31112bf.png</string>
        </dict>
    </dict>
</plist>
