<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prop001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,85}</string>
                <key>spriteSourceSize</key>
                <string>{79,85}</string>
                <key>textureRect</key>
                <string>{{0,0},{79,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,85}</string>
                <key>spriteSourceSize</key>
                <string>{79,85}</string>
                <key>textureRect</key>
                <string>{{79,0},{79,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,85}</string>
                <key>spriteSourceSize</key>
                <string>{79,85}</string>
                <key>textureRect</key>
                <string>{{158,0},{79,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,85}</string>
                <key>spriteSourceSize</key>
                <string>{79,85}</string>
                <key>textureRect</key>
                <string>{{0,85},{79,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,85}</string>
                <key>spriteSourceSize</key>
                <string>{79,85}</string>
                <key>textureRect</key>
                <string>{{79,85},{79,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,85}</string>
                <key>spriteSourceSize</key>
                <string>{79,85}</string>
                <key>textureRect</key>
                <string>{{158,85},{79,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,85}</string>
                <key>spriteSourceSize</key>
                <string>{79,85}</string>
                <key>textureRect</key>
                <string>{{0,170},{79,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,85}</string>
                <key>spriteSourceSize</key>
                <string>{79,85}</string>
                <key>textureRect</key>
                <string>{{79,170},{79,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>31110bf.png</string>
            <key>size</key>
            <string>{237,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02b06e3f865e04eadd2c99f0ace3607c:705a51ccc4b70f2efd205ed00bf69f85:d3402870fda6b7269e35ec159d67598a$</string>
            <key>textureFileName</key>
            <string>31110bf.png</string>
        </dict>
    </dict>
</plist>
